body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
a{
    text-decoration:none;
    color:inherit;
}
a:hover{
    font-weight:bold;
}
#MainDisplay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
#BackgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#DashBoard{
    position: absolute;
    top: 15%;
    Left:5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6,7em);
    width: 35rem;
    height: 43rem;
    background-color: rgb(234, 219, 200,0.8);
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    gap: 1.5rem;
}
#DashBoard span{
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 2em;
    color: #102C57;

}
#helloBlock{
    grid-area:1/1/2/3;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-top: 1rem;
    justify-self: center;
    display: grid;
    place-items: center;

}

#menuBlock{
    grid-area:3/1/4/2;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 80%;
    justify-self: center;
    display: grid;
    place-items: center;

}
#balanceBlock{
    grid-area:2/1/3/2;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width-min:80%;
    width-max:auto;
    justify-self: center;
    display: grid;
    place-items: center;

}
#balanceBlock img{
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0;
}
#balanceBlock :nth-child(3) {
    font-size: 1em;
}
#myOrdersBlock{
    grid-area:2/2/4/3;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 80%;
    justify-self: center;
    text-align: center;

}

#orderGraphBlock{
    grid-area:4/1/6/3;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    justify-self: center;
    text-align: center;

}


/*Responisev*/


/* 2. Laptop / Small Desktop */
@media (max-width: 1200px) {
}

/* 3. Tablet */
@media (max-width: 992px) {
}

/* 4. Smartphone */
/* Targets screens smaller than 768px */
@media (max-width: 768px) {

    #DashBoard {
        position: revert;
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 43rem;
        background-color: rgb(234, 219, 200, 0.8);
        border: 1px solid #f0f0f0;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        place-items: center;


    }

    #helloBlock {
        width: 50%;
    }
    #menuBlock{
        width:50%;
    }
}
/* 5. Small Smartphone */
@media (max-width: 480px) {
    body{
        font-size:13px;
    }
    #DashBoard {
        width: 23rem;
        height: 40rem;
    }
    #helloBlock {
        width-min:50%;
        width-max:70%;
    }
    #menuBlock{
        width:30%;
    }
}