body{
    margin:0;
    padding:0;
}

#footer{
    display: grid;
    width: 100%;
    background-color: #DAC0A3;
}


#grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
}
#menu{
    grid-area:1/1/3/2;
}
#hours{
    grid-area:1/2/3/3;

}
#contactUS {
    grid-area:1/3/3/4;
}
#logoFooter{
    font-family: 'Segoe UI', sans-serif;
    color:#102C57;
    display: flex;
    justify-content: center;
    grid-area:3/1/4/4;
}
ul{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
}
h3{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color:#102C57;
    text-decoration: underline;
    margin-top:2em;

}